
if (currentPage)
	title !{title} | !{currentPage['page']}
else
	title !{title}

link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

//- echo "$styles\n"
link(rel="stylesheet", href="/css/common.css")

//- $metas from Kohana Model Layouts/Page
each cont, name in metas
	meta(name=name, content=cont)

//- $scripts from Kohana Model Layouts/Page
each src in scripts
	script(src=src)