// section/about

.span4(style="padding-right:10px"): .row

	a(	href="http://vimeo.com/84765220?width=640&height=480"
		rel="prettyPhoto"
		title="Автосервис Бриз поможет вашему авто!")

		img(src="/images/video.jpg"
			data-original=""
			alt="")

.text
	h3 !{content.h3}
	h4 !{content.text}

// /section/about